In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/dsrscientist/dataset3/main/Salaries.csv')
type(df)

pandas.core.frame.DataFrame

In [3]:
df

         rank discipline  yrs.since.phd  yrs.service   sex  salary
0        Prof          B             19           18  Male  139750
1        Prof          B             20           16  Male  173200
2    AsstProf          B              4            3  Male   79750
3        Prof          B             45           39  Male  115000
4        Prof          B             40           41  Male  141500
..        ...        ...            ...          ...   ...     ...
392      Prof          A             33           30  Male  103106
393      Prof          A             31           19  Male  150564
394      Prof          A             42           25  Male  101738
395      Prof          A             25           15  Male   95329
396  AsstProf          A              8            4  Male   81035

[397 rows x 6 columns]

In [4]:
df.isnull().sum().sum()

0

In [5]:
df.dtypes

rank             object
discipline       object
yrs.since.phd     int64
yrs.service       int64
sex              object
salary            int64
dtype: object

In [6]:
df.describe()

       yrs.since.phd  yrs.service         salary
count     397.000000   397.000000     397.000000
mean       22.314861    17.614610  113706.458438
std        12.887003    13.006024   30289.038695
min         1.000000     0.000000   57800.000000
25%        12.000000     7.000000   91000.000000
50%        21.000000    16.000000  107300.000000
75%        32.000000    27.000000  134185.000000
max        56.000000    60.000000  231545.000000

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
x=df['yrs.since.phd'].values
y=df['salary'].values

In [9]:
x=x.reshape(397,1)

In [10]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=1/3, random_state=0)

In [11]:
x_train.shape

(264, 1)

In [12]:
y_train.shape

(264,)

In [13]:
from sklearn.linear_model import LinearRegression

In [14]:
regressor=LinearRegression()

In [15]:
regressor.fit(x_train,y_train)

LinearRegression()

In [16]:
y_pred=regressor.predict(x_test)

In [17]:
y_pred

array([102144.13127128, 103089.05233893, 120097.63155656,  96474.60486541,
       100254.28913599, 104978.89447422, 104033.97340657, 102144.13127128,
        94584.76273011, 115373.02621833, 116317.94728597, 106868.73660951,
       133326.5265036 , 101199.21020364, 107813.65767716, 112538.26301539,
       111593.34194774, 110648.4208801 , 112538.26301539, 104978.89447422,
       121042.5526242 ,  98364.4470007 , 101199.21020364, 109703.49981245,
       112538.26301539, 101199.21020364, 105923.81554187, 126712.07903008,
       109703.49981245, 126712.07903008, 123877.31582714, 108758.5787448 ,
        97419.52593305, 105923.81554187, 103089.05233893,  98364.4470007 ,
       120097.63155656, 130491.76330066, 119152.71048891, 103089.05233893,
       121987.47369185, 112538.26301539, 131436.68436831, 116317.94728597,
       120097.63155656, 116317.94728597, 130491.76330066, 121042.5526242 ,
       128601.92116537, 111593.34194774, 101199.21020364, 107813.65767716,
       125767.15796243, 104033.97340657, 104978.89447422, 126712.07903008,
       117262.86835362, 119152.71048891, 138996.05290948, 131436.68436831,
       129546.84223302,  98364.4470007 , 103089.05233893, 104978.89447422,
       104033.97340657, 107813.65767716,  99309.36806834, 104978.89447422,
       108758.5787448 , 136161.28970654, 101199.21020364, 109703.49981245,
       122932.39475949, 125767.15796243, 112538.26301539, 138051.13184183,
       101199.21020364, 120097.63155656,  94584.76273011, 116317.94728597,
        97419.52593305, 106868.73660951, 104978.89447422, 108758.5787448 ,
       136161.28970654, 139940.97397712, 105923.81554187, 132381.60543595,
        97419.52593305,  99309.36806834, 115373.02621833, 113483.18408303,
       111593.34194774, 119152.71048891, 115373.02621833, 122932.39475949,
       115373.02621833,  97419.52593305, 113483.18408303, 104033.97340657,
        97419.52593305, 109703.49981245, 128601.92116537, 109703.49981245,
       132381.60543595, 130491.76330066, 136161.28970654, 109703.49981245,
       102144.13127128, 120097.63155656, 127657.00009772, 105923.81554187,
       118207.78942126, 121987.47369185,  94584.76273011, 120097.63155656,
       139940.97397712, 103089.05233893, 113483.18408303, 112538.26301539,
       130491.76330066,  96474.60486541, 106868.73660951, 125767.15796243,
       121042.5526242 , 113483.18408303, 111593.34194774, 131436.68436831,
       117262.86835362, 122932.39475949, 114428.10515068, 106868.73660951,
       122932.39475949])

In [18]:
result=pd.DataFrame({'Actual':y_test,'Predicted':y_pred})

In [19]:
result

     Actual      Predicted
0    100522  102144.131271
1     77500  103089.052339
2    113398  120097.631557
3     86100   96474.604865
4     86373  100254.289136
..      ...            ...
128  145028  117262.868354
129  150564  122932.394759
130  101000  114428.105151
131  105260  106868.736610
132  122500  122932.394759

[133 rows x 2 columns]

In [20]:
a=df['yrs.service'].values
b=df['salary'].values

In [21]:
a=a.reshape(397,1)

In [22]:
a_train, a_test, b_train, b_test = train_test_split(a, b, test_size=1/3, random_state=0)

In [23]:
a_train.shape

(264, 1)

In [24]:
b_train.shape

(264,)

In [25]:
regressor.fit(a_train,b_train)

LinearRegression()

In [26]:
b_pred=regressor.predict(a_test)

In [27]:
b_pred

array([107810.52161385, 107810.52161385, 118886.15816591, 102641.89122289,
       104857.0185333 , 110025.64892426, 102641.89122289, 107810.52161385,
       102641.89122289, 112979.15200481, 115194.27931522, 108548.89738398,
       120362.90970618, 104118.64276316, 109287.27315412, 116671.03085549,
       115932.65508536, 109287.27315412, 115194.27931522, 107810.52161385,
       121839.66124646, 101903.51545275, 104857.0185333 , 104118.64276316,
       108548.89738398, 106333.77007357, 110025.64892426, 124054.78855687,
       114455.90354508, 120362.90970618, 124054.78855687, 112979.15200481,
       101903.51545275, 110025.64892426, 107072.14584371, 105595.39430343,
       120362.90970618, 127746.66740755, 113717.52777495, 105595.39430343,
       118886.15816591, 113717.52777495, 128485.04317769, 118886.15816591,
       112240.77623467, 118147.78239577, 129961.79471797, 112979.15200481,
       129223.41894783, 110025.64892426, 106333.77007357, 109287.27315412,
       116671.03085549, 104118.64276316, 107810.52161385, 118886.15816591,
       112979.15200481, 115932.65508536, 141037.43127003, 132176.92202838,
       118147.78239577, 104118.64276316, 107810.52161385, 104118.64276316,
       107810.52161385, 113717.52777495, 106333.77007357, 109287.27315412,
       110025.64892426, 135130.42510893, 105595.39430343, 114455.90354508,
       121101.28547632, 126269.91586728, 115194.27931522, 134392.04933879,
       104118.64276316, 122578.03701659, 101903.51545275, 118147.78239577,
       104118.64276316, 105595.39430343, 108548.89738398, 105595.39430343,
       135130.42510893, 146206.06166099, 107810.52161385, 126269.91586728,
       104857.0185333 , 104118.64276316, 117409.40662563, 116671.03085549,
       107072.14584371, 121839.66124646, 112979.15200481, 124054.78855687,
       116671.03085549, 104857.0185333 , 115194.27931522, 110025.64892426,
       103380.26699302, 110025.64892426, 121839.66124646, 113717.52777495,
       121839.66124646, 130700.1704881 , 133653.67356865, 110764.0246944 ,
       107072.14584371, 111502.40046453, 124793.16432701, 109287.27315412,
       119624.53393604, 124054.78855687, 102641.89122289, 114455.90354508,
       133653.67356865, 107072.14584371, 117409.40662563, 116671.03085549,
       129961.79471797, 104118.64276316, 107810.52161385, 124054.78855687,
       107072.14584371, 117409.40662563, 106333.77007357, 115932.65508536,
       117409.40662563, 115932.65508536, 110764.0246944 , 104857.0185333 ,
       122578.03701659])

In [28]:
result=pd.DataFrame({'Actual':b_test,'Predicted':b_pred})

In [29]:
result

     Actual      Predicted
0    100522  107810.521614
1     77500  107810.521614
2    113398  118886.158166
3     86100  102641.891223
4     86373  104857.018533
..      ...            ...
128  145028  117409.406626
129  150564  115932.655085
130  101000  110764.024694
131  105260  104857.018533
132  122500  122578.037017

[133 rows x 2 columns]